/* ------------------------ */
/* ----- CSS OHMYFOOD ----- */
/* ------------------------ */


@media screen and (min-width: 992px)
{
    section
    {
    display:flex;
    width:972px;
    justify-content: center;
    align-items: center;
    }

    body
    {
    display:flex; flex-direction:column;
  
    align-items: center;
    }

    .responsive
    {
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-around;
    }

    .responsive2
    {
    flex-direction:row;
    width:100%;
    justify-content: space-around;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px)
{
    section
    {
    display:flex;
    width:100%;
    justify-content: center;
    }

    body
    {
    display:flex; flex-direction:column;
    }

    .responsive
    {
    flex-direction:column;
    width:100%;
    margin-right:20px;
    }

    .responsive2
    {
    flex-direction:column;
    width:100%;
    }
}

@media screen and (max-width: 767px)
{
    section
    {
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
    }

    body
    {
    display:flex; flex-direction:column;
    }

    .responsive
    {
    flex-direction:column;
    width:100%;
    margin-right:20px;
    }

    .responsive2
    {
    flex-direction:column;
    width:100%;
    }
}

.flex
{
display:flex;
}

.mauve
{
color:#9356DC;
}

.fushia
{
color:#FF79DA;
}

.vert
{
color:#99E2D0;
}

a, .lien
{
text-decoration:none;
color:black;
}

/*-- HEADER --*/

.header
{
width:100%;
min-height:100px;
background-image:url('../img/logo/ohmyfood@2x.svg');
background-repeat:no-repeat; background-position:50% 30%; 
flex-direction:column;


    &__flag
    {
    min-width:100%;
    height:45px;
    justify-content:center;
    align-items:center;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    background-color: #eaeaea;

        i
        {
        width:30px;
        margin-bottom:6px;
        }
    }

    &__degrade
    {
    width:100%; height:5px;
    margin-top:80px;
    background: linear-gradient(#cfcfcf, #eaeaea);
    }
}

/*-- SECTION 1 --*/

.s1-conteneur
{
flex-direction:column;   
align-items:center;
width:100%;
box-sizing: border-box;
margin-bottom:5px; padding-bottom:30px;
background-color: #f6f6f6;



    &__texte
    {
    font-family: 'Roboto', sans-serif;
    background-color: #f6f6f6;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align:center;
    padding-left:10px; padding-right:10px;

        h1 
        {
        font-weight:700;
        font-size:27px;   
        margin-bottom:10px; margin-top:30px;
        margin-left:30px; margin-right:30px;
        }

        h3 
        {
        font-weight: 300;
        font-size: 18px;
        margin-top:5px;
        }
    }

    &__btn-explorer
    {
    align-items: center;
    justify-content: center;    
    width:100%;
    }
}

.btn-explorer
{
width:220px;
height:50px;
align-items: center;
justify-content: center;
background: linear-gradient(#FF79DA, #9356DC);
box-shadow:1px 4px 4px #cfcfcf;
border-radius: 90px;
margin-top:20px;
margin-bottom:30px;
cursor:pointer;
font-family: 'Roboto', sans-serif; color: white;
transition-duration: 0.25s;

    &:hover
    {
    background: linear-gradient(#ff79da, #9356dc);
    box-shadow:1px 5px 5px #bebebe;
    transition-duration: 0.25s;
    }
}



/*-- SECTION 2 --*/


.s2-conteneur
{
flex-direction:column;   
align-items:center;
width:100%;
box-sizing: border-box;
margin-left:10px; margin-right:20px; margin-top:20px; margin-bottom:30px;
font-family:  'Roboto', sans-serif;

    h2 
    {
    align-self:flex-start;
    }

    h3 
    {
    font-weight:500;
    font-size:16px;
    }

    i 
    {
    opacity:60%;
    margin-right:20px;
    margin-left:30px;
    max-width:30px;
    min-width:30px;
    max-height: 30px;
    min-height: 30px;
    padding-top:15px;
    }

    &__choix
    {
    flex-direction: row;
    position:relative;
    width:100%; min-height:75px;
    align-self: flex-end;
    justify-content: flex-start;
    align-items: center;
    background-color: #f6f6f6;
    box-shadow:1px 5px 5px #e6e6e6;
    border-radius: 22px;   
    margin-top:10px; left:10px;
    transition-duration: .3s;

    @media screen and (min-width: 992px)
    {
    width:30%;
    align-self:center;
    max-height:75px;
    }

        &:hover
        {
        background-color: rgba(255, 121, 218, 0.12);
        transition-duration: .3s;

            i 
            {
            color:#9356DC;
            opacity:100%;
            }
        }
    }

}

.rond
{
width:25px; height:25px;
border-radius: 90px;
color:white;
background-color: #9356DC;
justify-content: center;
align-items: center;
font-family:  'Roboto', sans-serif;
font-size: 14px;
justify-self: flex-start;
position:absolute;
left:-10px;
}

/*-- SECTION 3 --*/

.s3-conteneur
{
flex-direction:column;   
align-items:center;
width:100%; 
box-sizing: border-box;
margin-top:30px; padding-bottom:30px;
font-family:  'Roboto', sans-serif;
background-color:#f6f6f6 ;

    h2 
    {
    align-self:flex-start;   
    padding-top:30px;
    margin-left: 10px;
    }

    &__resto
    {
    flex-direction:column;
    width:100%;
    margin-left:10px; margin-right:10px; margin-bottom:20px;
    min-height:250px; 

    @media screen and (min-width: 992px)
    {
    width:40%;
    }
    

        &-image 
        {
            img 
            {
            box-sizing:border-box;
            overflow: auto;
            border-radius:20px 20px 0px 0px;  
            margin-left:10px; margin-right:10px;
            height:170px; width:100%;
            object-fit: cover;
            }
            position:relative;
        }

        &-txt
        {
        min-height:40px;
        border-radius:0px 0px 20px 20px; 
        background-color:white;
        margin-left:10px; margin-right:10px;
        margin-top:0px;
        box-shadow:1px 5px 5px #e6e6e6;
        align-items:flex-start;
        flex-direction:row;


            &-txt
            {
            min-width:80%;
            flex-direction:column;
            justify-content:flex-start;
            align-items: flex-start;
            overflow: auto;
            height:80px;

                h2 
                {
                margin:0; padding-top:15px;
                font-size:18px;
                padding-left:10px;
                
                }

                h3 
                {
                margin:0; padding-top:8px;
                font-size:16px;
                padding-left:10px;
                font-weight:300;
                }
            }
        }
    }

}

.like
{
width:20%;
height:80px;
justify-content:center;
align-items:center;

    & i 
    {
    height:20px;
    width:30px;
    padding-top:5px;
    font-weight:200;
    background: white;  
    transition:all .3s;
    }

    & :hover
    {
    background:linear-gradient(#FF79DA, #9356DC);   
    font-weight:900;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;  
    }

}

.new
{
width:80px;
height:28px;
background-color: #99E2D0;
position:absolute;
right:25px; margin-top:15px;
align-items: center;
justify-content: center;
color:#008766;
font-size:15px;
font-weight: 500;
font-family:  'Roboto', sans-serif;
border-radius: 2px;
}

/*-- FOOTER --*/

.footer
{
flex-direction:column;
background-color:#353535;
width:100%;

    h2
    {
    font-family:'Shrikhand', cursive; font-size:20px; font-weight:100;
    margin-left:20px; margin-top:20px; margin-bottom:25px; line-height:1.2;
    color:white;
    }

    h3
    {
    font-family:'Roboto', sans-serif; font-weight:300; font-size:16px;
    margin:0px; margin-left:20px; margin-bottom:8px;
    color:white;
    line-height:1.2;

        a 
        {
        text-decoration:none;
        color:white;
        }

        i 
        {
        width:30px;
        }
    }
}